<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7728.0" initialized="True" guidGenerationStrategy="Incremental">
	<databaseMappingOptions splitTablesIgnoredCultures="en">
		<azureOptions useMsSqlIdentifierLimitations="False" />
	</databaseMappingOptions>
	<connectionStrings>
		<add connectionString="data source=.\sqlexpress;Integrated Security=SSPI;initial catalog=DevMagazine" name="Sitefinity" />
	</connectionStrings>
	<urlEvaluators>
		<add description="ForumsEvaluatorDescription" resourceClassId="ForumsResources" type="Telerik.Sitefinity.Forums.Web.ForumsEvaluator, Telerik.Sitefinity.Forums" name="Forums" />
	</urlEvaluators>
</dataConfig>